{% extends 'base.html' %} {% block content %}
<div id="iti-info">
  <h1>{{g.user.username}}'s Trip!</h1>
  <h2>{{itinerary.iti_name}}</h2>
  <table class="table">
    <tr>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
    </tr>
    <tr>
        <td>{{itinerary.start_date}}</td>
        <td>{{itinerary.end_date}}</td>
    </tr>
    <tr>
        <th scope="col">Hotels</th>
    </tr>
    {%for iti in itinerary.iti_hotels%}
    <tr>
        <td>{{iti.hotels.name}}</td>
    </tr>
    {%endfor%}
    <tr>
        <th scope="col">Resturants</th>
    </tr>
    {%for iti in itinerary.iti_rests%}
    <tr>
        <td>{{iti.rests.name}}</td>
    </tr>
    {%endfor%}
  </table>
  <form method="POST" action="/iti/{{ itinerary.id }}/delete">
    <button class="btn btn-outline-danger">Delete</button>
  </form>
</div>
{% endblock %}
