{% extends 'base.html' %} {% block content %}
<div id="iti-info" class="text-center mt-3">
  <h1>{{g.user.username}}'s Trip!</h1>
  <h2>{{iti.iti_name}}</h2>

  <div id="date" class="mt-3 mb-3">
    <div id="start_date" class="space"><b>Start Date:</b> {{iti.start_date}}</div>
    <div id="end_date"><b>End Date:</b> {{iti.end_date}}</div>
  </div>

  <div id="iti-table-container">
    <table id="iti-table" class="table">
      <tr >
        <th colspan="2" >Hotels</th>
      </tr>

      {%for hotel in iti.iti_hotels %}
      <tr>
        <td>{{hotel.hotels.name}}</td>
        <td>
          <div>
            <p>{{hotel.hotels.address}}</p>
            {%if hotel.hotels.website%}
            <a href="{{hotel.hotels.website}}" class="text-white"
              ><p>{{hotel.hotels.website}}</p></a
            >
            {%endif%} {%if hotel.hotels.number%}
            <p>{{hotel.hotels.number}}</p>
            {%endif%}
          </div>
        </td>
      </tr>
      {%endfor%} {%if iti.iti_rests%}
      <tr >
        <th colspan="2">Resturants</th>
      </tr>
      {%endif%} {%for rest in iti.iti_rests %}
      <tr >
        <td>{{rest.rests.name}}</td>
        <td>
          <div>
            <p>{{rest.rests.address}}</p>
            {%if rest.rests.website%}
            <a href="{{rest.rests.website}}" class="text-white"
              ><p>{{rest.rests.website}}</p></a
            >
            {%endif%} {%if rest.rests.number%}
            <p>{{rest.rests.number}}</p>
            {%endif%}
          </div>
        </td>
      </tr>
      {%endfor%}
    </table>
  </div>

  <form method="POST" action="/iti/{{ iti.id }}/delete" class="mt-3">
    <button class="btn btn-danger">Delete</button>
  </form>
</div>
{% endblock %}
