{% extends 'base.html' %} {% block content %}

<div>
  <div class="search mt-3">
    <form id="search-form">
      <div class="form-row">
        <div id="place-type" class="form-group col my-1">
          <label for="type">Find</label>
          <select
            name="type"
            id="type"
            id="type"
            class="form-control form-select"
          >
            <option value="lodging">hotels</option>
            <option value="restaurant">restaurants</option>
          </select>
        </div>
        <div id="city-name" class="form-group col-5 my-1">
          <label for="city">City</label>
          <input
            id="city"
            placeholder="Enter a city"
            type="text"
            name="city"
            class="form-control"
          />
        </div>
        <div id="state-name" class="form-group col my-1">
          <label for="state">State</label>
          <select name="state" id="state" class="form-control form-select">
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
          </select>
        </div>
        <div id="searchBtn" class="col-auto my-1">
          <button class="btn btn-primary btn-md btn-block search-btn">
            Search
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="row mt-5">
    <div class="col-sm">
      <div id="listing">
        <table id="resultsTable" class="table table-bordered">
          <tbody id="results"></tbody>
        </table>
        <div id="planTripImg" class="text-center">
          <div class="planTrip">Plan your trip</div>
          <img
            src="/static/assets/—Pngtree—beach travel 3d elements_5356937.png"
            alt="holiday"
            class="holiday"
          />
        </div>
        <div class="loader hide text-center">Please wait...</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="itinerary container text-center form-group">
        <div class="iti-header">
          <h1>Vacation Plan</h1>
        </div>
        <div class="iti-form-container">
          <form method="POST" id="iti-form">
            <div id="iti-name">
              <label for="iti-name" class="form-label">Itinerary Name</label>
              <input type="text" name="iti-name" class="form-control" />
              <small id="name-error" class="error ml-0"></small>
            </div>
            <div id="start_date_div">
              <label for="start_date" class="form-label">Start Date</label>
              <input type="date" name="start_date" class="form-control" />
              <small id="start-date-error" class="error ml-0"></small>
            </div>

            <div id="end_date_div">
              <label for="end_date">End Date</label>
              <input type="date" name="end_date" class="form-control" />
              <small id="end-date-error" class="error ml-0"></small>
            </div>

            <div class="hotel_div">
              <label for="hotel" class="form-label">Hotel</label>
            </div>

            <button
              type="button"
              class="addHotelBtn btn btn-primary btn-sm btn-block"
            >
              +
            </button>

            <div class="rest_div">
              <label for="restaurant" class="form-label">Restaurant</label>
            </div>

            <br />

            <button
              type="button"
              class="addRestBtn btn btn-primary btn-sm btn-block"
            >
              +
            </button>

            <br />
            <br />
            <button
              type="submit"
              class="btn btn-primary btn-lg btn-block"
              id="submitItiBtn"
            >
              Plan my trip
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/static/new_iti.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
