{% extends 'base.html' %} {% block content %}

<div>
  <div class="search mt-3">
    <form id="search-form">
      <div class="form-row d-flex justify-content-center" id="responsive-div">
        <div id="place-type" class="form-group col-3 my-1">
          <span class="find-span">Find: </span>
          <div class="type-div">
            <input type="radio" class="btn-check " name="type" id="lodging" value="lodging" autocomplete="off" checked>
            <label class="btn btn-secondary type" for="lodging">Hotels</label>
            <span class="or-span">or</span>
            <input type="radio" class="btn-check " name="type" id="restaurant" value="restaurant" autocomplete="off">
            <label class="btn btn-secondary type" for="restaurant">Restaurant</label>
          </div>
          </div>
        <div id="city-name" class="form-group col-3 my-1">
          <label for="city">City</label>
          <input
            id="city"
            placeholder="Enter a city"
            type="text"
            name="city"
            class="form-control"
          />
        </div>
        <div id="state-name" class="form-group col-3 my-1">
          <label for="state">State</label>
          <select name="state" id="state" class="form-control form-select">
          </select>
        </div>
        <div id="searchBtn" class="col-auto my-1">
          <button class="btn btn-primary btn-md btn-block search-btn">
            Search
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="row mt-5">
    <div class="col-sm">
      <div id="listing">
        <table id="resultsTable" class="table table-bordered">
          <tbody id="results"></tbody>
        </table>
        <div id="planTripImg" class="text-center">
          <div class="planTrip">Plan your trip</div>
          <img
            src="/static/assets/—Pngtree—beach travel 3d elements_5356937.png"
            alt="holiday"
            class="holiday"
          />
        </div>
        <div class="loader hide text-center">Please wait...</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="itinerary container text-center form-group">
        <div class="iti-header">
          <h1>Vacation Plan</h1>
        </div>
        <div class="iti-form-container">
          <form method="POST" id="iti-form">
            <div id="iti-name">
              <label for="iti-name" class="form-label">Itinerary Name</label>
              <input type="text" name="iti-name" class="form-control" />
              <small id="name-error" class="error ml-0"></small>
            </div>
            <div id="start_date_div">
              <label for="start_date" class="form-label">Start Date</label>
              <input type="date" name="start_date" class="form-control" />
              <small id="start-date-error" class="error ml-0"></small>
            </div>

            <div id="end_date_div">
              <label for="end_date">End Date</label>
              <input type="date" name="end_date" class="form-control" />
              <small id="end-date-error" class="error ml-0"></small>
            </div>

            <div class="hotel_div no-display">
              <label for="hotel" class="form-label">Hotel</label>
            </div>

            <button
              type="button"
              class="addHotelBtn btn btn-primary btn-sm btn-block no-display"
            >
              +
            </button>

            <div class="rest_div no-display">
              <label for="restaurant" class="form-label">Restaurant</label>
            </div>

            <br />

            <button
              type="button"
              class="addRestBtn btn btn-primary btn-sm btn-block no-display"
            >
              +
            </button>

            <br />
            <br />
            <button
              type="submit"
              class="btn btn-primary btn-lg btn-block hide"
              id="submitItiBtn"
            >
              Plan my trip
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/static/new_iti.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
