{% extends 'base.html' %}

{% block content %}

<div id=user-info>
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <button><a href="/user/{{user.id}}/newiti">Create Itinerary</a></button>
</div>

<div id="update-user">
    <h2 class="join-message">Change username</h2>
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{field.label}}:{{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <p>To confirm changes, enter your password:</p>
        {% if form.password.errors %}
          {% for error in form.password.errors %}
            <span class="text-danger">
            {{ error }}
          </span>
          {% endfor %}
        {% endif %}
        {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}

        <div class="edit-btn-area">
          <button class="btn btn-success">Update my username!</button>
          <a href="/users/{{ user.id }}" class="btn btn-outline-secondary">Cancel</a>
</div>

{% endblock %}